.idea
!data/processed/ban_summary/v6.csv
!data/processed/match_summary/v6.csv
data/daily
data/tiers*
data/champions
src/dev_creds.py
src/cache
**/.DS_Store
**/.ipynb_checkpoints
**/__pycache__
notebooks/